@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

html {
    background-color: #f1f1f1;
    font-size: 16px;
}
#barraNavegacion {
    box-sizing: content-box;
    margin: 1em;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}
#enlaces {
    text-transform: capitalize;
    list-style: none;
    padding: 0 10px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}
.imagenes {
    width: 150px;
    height: auto;
}
.logo {
    padding: 0 20px;
}
.enlaces:link {
    text-decoration: none;
    color: #00000099;
}
.enlaces:visited {
    text-decoration: none;
    color: #00000099;
}
.enlaces:hover {
    text-decoration: none;
    color: #000000;
}